<div class="col-lg-12">
    <h1 class="page-header">Thumbnail Gallery</h1>
</div>

<% @galleries.each do |gallery| %>

  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <%= link_to gallery_path(gallery), class: "thumbnail" do %>
        <% if gallery.paintings.count == 0 %>
          <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        <% else %>
          <%= image_tag default_image(gallery) %>
        <% end %>
      <% end %>
      <%= gallery.name %>: <%= gallery.paintings.count %> |
      <%= link_to "edit", edit_gallery_path(gallery) %> |
      <%= link_to "remove", gallery_path(gallery), method: :delete, data: { confirm: "Associated paintings will be deleted as well.\n\nAre you sure?" } %>
  </div>

<% end %>
